<div class="line"></div>

<div class="wrapper">
    <div class="item">
      <mat-icon>insert_invitation</mat-icon>
      <span class="title">События</span>
    </div>

    <div class="item">
      <mat-icon>map</mat-icon>
      <span class="title">Экскурсии</span>
    </div>

    <div class="item">
      <mat-icon>pin_drop</mat-icon>
      <span class="title">Места</span>
    </div>
</div>

<div class="line"></div>

<app-planning-item [isAdding]="true"></app-planning-item>

<div class="line line__margin"></div>

<div class="summary">Всего ~5000 р.</div>
