<div class="line" *ngIf="!isAdding"></div>

<carousel
  [height]="165"
  cellWidth="100%"
  [arrows]="true"
  [dots]="true"
  [arrowsOutside]="true">

  <div class="carousel-cell">
    <div class="info-card">
      <div class="info-card__header">
        <h1 class="info-card__title">Свой вариант</h1>
        <button
          class="delete-button"
          mat-icon-button
          aria-label="Удалить"
          color="warn">
          <mat-icon>highlight_off</mat-icon>
        </button>
      </div>
      <div class="info-card__event-info">
        <p class="info-card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur accumsan diam, eu semper purus accumsan eget libero.
        </p>
        <mat-icon *ngIf="isAdding">add_circle_outline</mat-icon>
      </div>
      <div class="info-card__footer">
        <h6 class="info-card__event-beginning-info">Сегодня в 7:50</h6>
        <p class="price">~ 1000 р.</p>
      </div>
    </div>
  </div>

  <div class="carousel-cell">
    <div class="info-card">
      <div class="info-card__header">
        <h1 class="info-card__title">Авиабилеты</h1>
        <button
          class="delete-button"
          mat-icon-button
          aria-label="Удалить"
          color="warn">
          <mat-icon>highlight_off</mat-icon>
        </button>
      </div>
      <p class="info-card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur accumsan diam, eu semper purus accumsan eget libero.
      </p>
      <div class="info-card__footer">
        <h6 class="info-card__event-beginning-info">Сегодня в 7:50</h6>
        <p class="price">~ 1000 р.</p>
      </div>
    </div>
  </div>

  <div class="carousel-cell">
    <div class="info-card">
      <div class="info-card__header">
        <h1 class="info-card__title">ЖД билеты</h1>
        <button
          class="delete-button"
          mat-icon-button
          aria-label="Удалить"
          color="warn">
          <mat-icon>highlight_off</mat-icon>
        </button>
      </div>
      <p class="info-card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur accumsan diam, eu semper purus accumsan eget libero.
      </p>
      <div class="info-card__footer">
        <h6 class="info-card__event-beginning-info">Сегодня в 7:50</h6>
        <p class="price">~ 1000 р.</p>
      </div>
    </div>
  </div>

  <div class="carousel-cell">
    <div class="info-card">
      <div class="info-card__header">
        <h1 class="info-card__title">Перелёт</h1>
        <button
          class="delete-button"
          mat-icon-button
          aria-label="Удалить"
          color="warn">
          <mat-icon>highlight_off</mat-icon>
        </button>
      </div>
      <p class="info-card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur accumsan diam, eu semper purus accumsan eget libero.
      </p>
      <div class="info-card__footer">
        <h6 class="info-card__event-beginning-info">Сегодня в 7:50</h6>
        <p class="price">~ 1000 р.</p>
      </div>
    </div>
  </div>

</carousel>
