:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.line {
  background-color: #0086A4;
  width: 3px;
  height: 20px;
  margin: 5px 0;
}

.time-interval {
  font-size: 12px;
  border-radius: 50px;
  background-color: #0086A4;
  color: #fff;
  padding: 3px 10px;
}

.info-card {
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  background-color: #fff;
  padding: 10px 15px;
  //margin: 0 15px;
  align-self: stretch;

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 36px;
  }

  &__description {
    text-align: justify;
    font-size: 18px;
    margin-bottom: 8px;
  }

  &__event-beginning-info {
    font-size: 12px;
    align-self: flex-end;
  }
}

