<div class="line"></div>
<span class="time-interval">Через 3ч.</span>
<div class="line"></div>

<carousel
  style="width: 80%;"
  [height]="165"
  cellWidth="100%"
  [arrows]="true"
  [dots]="true"
  [arrowsOutside]="true">

  <div class="carousel-cell">
    <div class="info-card">
      <h1 class="info-card__title">Перелёт</h1>
      <p class="info-card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur accumsan diam, eu semper purus accumsan eget libero.
      </p>
      <span class="info-card__event-beginning-info">Сегодня в 7:50</span>
    </div>
  </div>

  <div class="carousel-cell">
    <div class="info-card">
      <h1 class="info-card__title">Перелёт</h1>
      <p class="info-card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur accumsan diam, eu semper purus accumsan eget libero.
      </p>
      <span class="info-card__event-beginning-info">Сегодня в 7:50</span>
    </div>
  </div>

  <div class="carousel-cell">
    <div class="info-card">
      <h1 class="info-card__title">Перелёт</h1>
      <p class="info-card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur accumsan diam, eu semper purus accumsan eget libero.
      </p>
      <span class="info-card__event-beginning-info">Сегодня в 7:50</span>
    </div>
  </div>

  <div class="carousel-cell">
    <div class="info-card">
      <h1 class="info-card__title">Перелёт</h1>
      <p class="info-card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur accumsan diam, eu semper purus accumsan eget libero.
      </p>
      <span class="info-card__event-beginning-info">Сегодня в 7:50</span>
    </div>
  </div>

</carousel>
