/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

*{
  margin: 0;
}

app-root {
  width: 800px;
  height: 100%;
}

.carousel-dot {
  border-color: #6D6D6D !important;
}

.carousel-dot-active {
  background-color: #6D6D6D !important;
}

.carousel-arrow {
  top: 42% !important;
}

@media screen and (max-width: 600px) {
  .carousel-arrow {
    display: none !important;
  }
}
